/*
    Common Styles
*/
body{
    margin:0;
    font-family: 'Catamaran', sans-serif;
    background-color: #1b1b1bf2;
}

input{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #eaeaea;
}
input:focus{
    outline:none;
}

button{
    height: 25px;
    width: 50px;
    border:none;
    box-shadow: 1px 1px 4px 3px #0000001c;
    margin: auto;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    background: #951c1cbf;
    color: #fff;
    letter-spacing: 1.8px;
}

button:focus{
    outline:none
}
/*
    End Common Styles
*/
.header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,89,1) 95%, rgba(0,255,173,0.53125) 100%);
    color:#fff;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left:20px;
    justify-content: space-between;
}
.header .title{
    letter-spacing: 1.8px;
    font-weight:800;
    text-decoration: overline;
    font-size:28px;
}
.header .title span{
    font-size:16px;
    letter-spacing:2px;
}

.drag-box {
  background-color: #ebecf0;
  float: left;
  width: 120px;
  min-height: 50px;
  padding-bottom: 30px;
  height: auto;
  margin: 30px;
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px #00000017;
  width: 272px;
  transform: rotate(2deg);
}
.drag-box:hover{
   box-shadow: 1px 1px 2px 1px #6c7270;
   transform: rotate(0deg);
}

.drag-task {
  background-color: white;
  margin: 15px;
  display: flex;
  flex-direction:column;
  padding: 4px;
  border-radius: 3px;
  position: relative;
}
.drag-task .infoPane {
    display:flex;
    align-items: center;
    justify-content: space-between;
} 
.drag-task .infoPane .actionBtn span:first-child{
    margin-right:8px;
}
.drag-task .infoPane .actionBtn span{
    cursor:pointer
}
.drop-active {
  border: 1px dashed red;
}

.noDisplay{
    display:none;
}
.drop-target{
    display: flex;
    flex-wrap: wrap;
}
.drop-target .new-list{
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);

}
.drop-target .new-list span{
    display: flex;
    justify-content: center;
    background: #1d99f1;
    color:#fff;
    cursor:pointer;
}
.drop-target .new-list button{
    margin: auto;
    margin-top:10px;
    font-size: 12px;
    cursor: pointer;
    background: #951c1cbf;
    color:#fff;
    letter-spacing: 1.8px;
}

.addNewTaskForm{
    display:none;
    position: absolute;
    bottom:0px;
    flex-direction: column;
    background: #fff;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 999;
}
.editTaskForm{
    display: none;
}

.addNewTaskCta{
    display: flex;
    justify-content: center;
    letter-spacing: 0.3px;
    align-items: center;
    font-weight:500;
     background: #1d99f1;
    color: #fff;
    cursor: pointer;
}
.addNewTaskCta:hover{
    background: #fff;
    color:#1d99f1;
}

.description{
    display: none;
}

.inputFields{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list-name{
    position:absolute;
    bottom:0;
    display: flex;
    justify-content: center;
    background:#000;
    left:0;
    right:0;
    background: #ddd9d7;
    color: #070505;
    font-weight: 900;

}

.footer{
    position:fixed;
    bottom:0px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    background: #bababa;
    height: 44px;
    align-items: center;
}
.footer a{
    margin-right:15px;
    text-decoration: none;
    color:#000;
    letter-spacing:0.5px;
    font-weight:900;
    cursor:pointer;
}